
<br>
<div class="col-md-11" style="margin: auto;">
  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Serial number</th>
    </tr>
    </thead>
    <tbody>
    <tr view-employee-list *ngFor="let client of clients">
      <td> {{ client.id }} </td>
      <td> {{ client.firstName }} </td>
      <td> {{ client.lastName }} </td>
      <td> {{ client.serialNumber }} </td>
    </tr>
    </tbody>
  </table>
</div>
