<div class="container">
  <br><br>
  <form>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Jane" #firstName>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Doe" #lastName>
    </div>
    <div class="form-group">
      <label for="serialNumber">Serial number</label>
      <input type="text" class="form-control" id="serialNumber" placeholder="LLL-NNNN" #serialNumber>
    </div>
    <button class="btn btn-info float-right" (click)="createClient(firstName, lastName, serialNumber)"> Register </button>
  </form>
</div>
