<br>
<div class="col-md-11" style="margin: auto;">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update details for: {{ transaction.bookId + " " + transaction.clientId }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="bookId">ID</label>
            <input class="form-control" type="text" placeholder="{{transaction.id}}" readonly #id>
          </div>

          <div class="form-group">
            <label for="bookId">Book ID</label>
            <input type="text" class="form-control" id="bookId" value="{{transaction.bookId}}" #bookId>
          </div>

          <div class="form-group">
            <label for="clientId">Client ID</label>
            <input type="text" class="form-control" id="clientId" value="{{transaction.clientId}}" #clientId>
          </div>

          <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" id="notes" value="{{transaction.notes}}" #notes>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateTransaction(bookId, clientId, notes)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Client</th>
      <th>Notes</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr view-employee-list *ngFor="let transaction of transactions">
      <td> {{ transaction.id }} </td>
      <td> {{ getBookNameById(transaction.bookId) }} </td>
      <td> {{ getClientNameById(transaction.clientId) }} </td>
      <td> {{ transaction.notes }} </td>
      <td class="client-row">
        <div class="row">
          <div>
            <button class="btn btn-warning row-option-btn" (click)="deleteTransaction(transaction)">
              <i class="fa fa-trash row-option-btn"> </i>
            </button>
          </div>
          <div>
            <button class="btn btn-info row-option-btn" data-toggle="modal" data-target="#exampleModal" (click)="openModal(transaction)">
              <i class="fa fa-edit row-option-btn"> </i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
