
<br>
<div class="col-md-11" style="margin: auto;">
  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr view-employee-list *ngFor="let book of books">
      <td> {{ book.id }} </td>
      <td> {{ book.title }} </td>
      <td> {{ book.author }} </td>
      <td> {{ book.rating }} </td>
    </tr>
    </tbody>
  </table>
</div>
