
<br>
<div class="col-md-11" style="margin: auto;">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update details for: {{ client.firstName + " " + client.lastName }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="firstName">ID</label>
            <input class="form-control" type="text" placeholder="{{client.id}}" readonly #id>
          </div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" value="{{client.firstName}}" #firstName>
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" value="{{client.lastName}}" #lastName>
          </div>
          <div class="form-group">
            <label for="serialNumber">Serial number</label>
            <input type="text" class="form-control" id="serialNumber" value="{{client.serialNumber}}" #serialNumber>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateClient(firstName, lastName, serialNumber)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Serial number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr view-employee-list *ngFor="let client of clients">
      <td> {{ client.id }} </td>
      <td> {{ client.firstName }} </td>
      <td> {{ client.lastName }} </td>
      <td> {{ client.serialNumber }} </td>
      <td class="client-row">
        <div class="row">
          <div>
            <button class="btn btn-warning row-option-btn" (click)="deleteClient(client)">
              <i class="fa fa-trash row-option-btn"> </i>
            </button>
          </div>
          <div>
            <button class="btn btn-info row-option-btn" data-toggle="modal" data-target="#exampleModal" (click)="openModal(client)">
                <i class="fa fa-edit row-option-btn"> </i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
