<div class="container">
  <br><br>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Book title" #title>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Book author" #author>
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="text" class="form-control" id="rating" placeholder="1-10" #rating>
    </div>
    <button class="btn btn-info float-right" (click)="createBook(title, author, rating)"> Add book </button>
  </form>
</div>
