
<br>
<div class="col-md-11" style="margin: auto;">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update details for: {{ book.title + " by " + book.author }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="id">ID</label>
            <input class="form-control" id="id" type="text" placeholder="{{book.id}}" readonly #id>
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="{{book.title}}" #title>
          </div>

          <div class="form-group">
            <label for="title">Author</label>
            <input type="text" class="form-control" id="author" value="{{book.author}}" #author>
          </div>
          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" id="rating" value="{{book.rating}}" #rating>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateBook(title, author, rating)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr view-employee-list *ngFor="let book of books">
      <td> {{ book.id }} </td>
      <td> {{ book.title }} </td>
      <td> {{ book.author }} </td>
      <td> {{ book.rating }} </td>

      <td class="book-row">
        <div class="row">

          <div>
            <button class="btn btn-warning row-option-btn" (click)="deleteBook(book)">
              <i class="fa fa-trash row-option-btn"> </i>
            </button>
          </div>

          <div>
            <button class="btn btn-info row-option-btn" data-toggle="modal" data-target="#exampleModal" (click)="openModal(book)">
              <i class="fa fa-edit row-option-btn"> </i>
            </button>
          </div>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
