
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""> Mercury </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active current" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="clientsNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Client
        </a>
        <div class="dropdown-menu" aria-labelledby="clientsNavbarDropdown">
          <a class="dropdown-item" routerLink="/clients">List</a>
          <a class="dropdown-item" routerLink="/client/register">Register new client</a>
        </div>
      </li>
      <li routerLinkActive="active current" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="booksNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Book
        </a>
        <div class="dropdown-menu" aria-labelledby="booksNavbarDropdown">
          <a class="dropdown-item" routerLink="/books">List</a>
          <a class="dropdown-item" routerLink="/books/register">Create new book</a>
        </div>
      </li>
      <li routerLinkActive="active current" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="transactionsNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transaction
        </a>
        <div class="dropdown-menu" aria-labelledby="transactionsNavbarDropdown">
          <a class="dropdown-item" routerLink="/transactions">List</a>
          <a class="dropdown-item" routerLink="/transactions/register">Register new transaction</a>
        </div>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <input type="text" [(ngModel)]="searchInputClient" class="modules form-control mr-sm-2" placeholder="Search client...">
      <button style="margin: 5px" class="btn btn-outline-success my-2 my-sm-0" (click)="clearInput()" [routerLink]="['/search/client', searchInputClient]">Search</button>

      <input type="text" [(ngModel)]="searchInputBook" class="modules form-control mr-sm-2" placeholder="Search book...">
      <button style="margin: 5px" class="btn btn-outline-success my-2 my-sm-0" (click)="clearInput()" [routerLink]="['/search/book', searchInputBook]">Search</button>
    </div>
  </div>
</nav>
