
<div class="container">
  <br><br>
  <h3>MPP</h3>
  <p>
    Students who worked on this project... </p>
  <div class="row">
    <div class="card col-sm-5 col-md-5 col-lg-5" style="width: 18rem; margin-left: auto; margin-right: 5px;">
      <br>
      <div class="card-body">
        <h5 class="card-title">Iustin Rusu</h5>
        <p class="card-text">Check out my GitHub page!</p>
        <a class="btn btn-primary float-right" (click)="redirectIustin()">
          <i class="fa fa-2x fa-github-square"> </i>
        </a>
      </div>
    </div>

    <div class="card col-sm-5 col-md-5 col-lg-5" style="width: 18rem; margin-right: auto; margin-left: 5px;">
      <br>
      <div class="card-body">
        <h5 class="card-title">Marian Rîșca</h5>
        <p class="card-text">Check out my GitHub page!</p>
        <a class="btn btn-primary float-right" (click)="redirectMarian()">
          <i class="fa fa-2x fa-github-square"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
