<div class="container">
  <br><br>
  <form>
    <div class="form-group">
      <label for="bookId">Book ID</label>
      <input type="text" class="form-control" id="bookId" placeholder="ID of the Book" #bookId>
    </div>

    <div class="form-group">
      <label for="clientId">Client ID</label>
      <input type="text" class="form-control" id="clientId" placeholder="ID of the Client" #clientId>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <input type="text" class="form-control" id="notes" placeholder="something something" #notes>
    </div>

    <button class="btn btn-info float-right" (click)="createTransaction(bookId, clientId, notes)">Register</button>
  </form>
</div>
